<div class="form-group nth-day text-center" hidden="hidden">
    <div class="day" hidden="hidden">
        <h1>Work day</h1>
        <ul class="exercises col col-9 mb-3"></ul>
        <input class="find-exercise" type="search" placeholder="Exercises you want ot add." />
        <ul class="results"></ul>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="add-day btn-primary btn">Add Day</button>
    </div>
</div>