<div class="form-group weekly-workdays text-center">
    <div class="day-of-week">
        <h1>Monday</h1>
        <ul class="exercises col col-9 mb-3"></ul>
        <input class="find-exercise" type="search" placeholder="Exercises you want ot add." />
        <ul class="results"></ul>
    </div>
    <div class="day-of-week">
        <h1>Tuesday</h1>
        <ul class="exercises col col-9 mb-3"></ul>
        <input class="find-exercise" type="search" placeholder="Exercises you want ot add." />
        <ul class="results"></ul>
    </div>
    <div class="day-of-week">
        <h1>Wednesday</h1>
        <ul class="exercises col col-9 mb-3"></ul>
        <input class="find-exercise" type="search" placeholder="Exercises you want ot add." />
        <ul class="results"></ul>
    </div>
    <div class="day-of-week">
        <h1>Thursday</h1>
        <ul class="exercises col col-9 mb-3"></ul>
        <input class="find-exercise" type="search" placeholder="Exercises you want ot add." />
        <ul class="results"></ul>
    </div>
    <div class="day-of-week">
        <h1>Friday</h1>
        <ul class="exercises col col-9 mb-3"></ul>
        <input class="find-exercise" type="search" placeholder="Exercises you want ot add." />
        <ul class="results"></ul>
    </div>
    <div class="day-of-week">
        <h1>Saturday</h1>
        <ul class="exercises col col-9 mb-3"></ul>
        <input class="find-exercise" type="search" placeholder="Exercises you want ot add." />
        <ul class="results"></ul>
    </div>
    <div class="day-of-week">
        <h1>Sunday</h1>
        <ul class="exercises col col-9 mb-3"></ul>
        <input class="find-exercise" type="search" placeholder="Exercises you want ot add." />
        <ul class="results"></ul>
    </div>
</div>
