<div class="modal fade" id="detailPopup" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Set</th>
                                <th>Weight</th>
                                <th>Repetition</th>
                            </tr>
                        </thead>
                        <tbody id="exerciseDataTable"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="detailPopupAddBtn" type="button" class="btn btn-primary">Add</button>
                <button id="detailPopupCreateBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Create</button>
                <button id="detailPopupUpdateBtn" type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
                <button id="detailPopupDeleteBtn" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>