@model LogWorkoutHomeViewModel

@if (!Model.HasWorkout)
{
    <div class="text-center">
        <h1 class="display-4 mt-5">You don't have selected workout. Consider <a href="/Workouts/All">Selecting one</a> or <a href="/Workouts/Add">Creating one</a></h1>        
    </div>
}
