/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family: 'Lato', sans-serif;
}

html, body {
    background-color: #242424;
    margin: 0;
    height: 100%;
}

html, body, td, th {
    color: white;
}

header {
    background-color: #0E0201;
}

iframe {
    border: none;
}

.navbar {
    padding: 0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white !important;
}

.nav-item:hover {
    background-color: #1e1e1e;
}

.nav-item {
    padding: 5px 0;
}

a.text-dark:hover {
    color: white !important;
}

.jumbotron {
    background-color: #000;
}

.btn-dark, .fc .fc-button-primary {
    background-color: #000;
    border: none;
}

.fc .fc-button-primary:disabled {
    background-color: #0f0f0f;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

h1, .navbar-brand {
    font-family: 'Oswald', sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link {
    color: white !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.custom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.dropdown-menu {
    background-color: #2f2f2f;
}

.dropdown-item {
    color: white;
}

button.add-exercise {
    margin-top: 15px;
}
button.add-day.alert-success {
    margin-top: 15px;
    font-size: large;
}
ul {
    list-style-type: none;
}
.small-button {
    width: 160px;
    font-size: 12px;
}

#exercisesDropdown {
    width: 100%;
}

#exercisesCombobox {
    margin-bottom: 110px;
}

#exercisesDropdown a {
    padding-left: 8px;
    width: 100%;
    display: block;
}

#exercisesDropdown a:hover {
    cursor: pointer;
    background-color: #282828;
    color: white;
    text-decoration: none;
}

.list-group-item {
    background-color: #2f2f2f;
}

.max-weights-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fc-event-main {
    cursor: pointer;
}

.custom-container, .custom-container main {
    height: 100%;
}

/*Home Page*/
.home-page {
    display: flex;
    height: 100%;
}
.home-page div {
    width: 50%;
}
.home-image {
    background-image: url(https://tptspersonaltraining.co.uk/wp-content/uploads/2018/04/barbell-black-and-white-black-and-white-791763.jpg);
}

.home-text {
    text-align: center;
    margin: auto;
    font-size: 17px;
}

.home-text h1 {
    font-size: 95px;
}

div.login-btns {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.login-btns a {
    color: white;
    border: solid 1px white;
    width: 120px;
    margin: 5px;
    border-radius: 25px;
    height: 35px;
    padding: 2px;
}

.login-btns a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.sp-replacer.sp-light {
    border: white;
    background-color: white;
    border-radius: 5px;
    margin-left: 5px;
}

.sp-preview {
    border: none !important;
    width: 50px !important;
}

.sp-container,
.sp-palette-container,
.sp-picker-container {
    background-color: white !important;
    border: none !important;
}

.sp-choose {
    background: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-color: black !important;
    color: white !important;
    font-family: 'Oswald', sans-serif !important;
    border: none !important;
    text-shadow: none !important;
}